NEXT_PUBLIC_COINRISQLAB_API_PORT=""
NEXT_PUBLIC_COINRISQLAB_API_HOSTNAME=""
NEXT_PUBLIC_COINRISQLAB_API_HTTPSECURE=""

NEXT_PUBLIC_GTM_ID=""
NEXT_PUBLIC_GA_ID=""

DB_HOST=""
DB_PORT=""
DB_USER=""
DB_PASSWORD=""
DB_NAME="coinrisqlab"

# User Auth (same secret as backend COINRISQLAB_USER_JWT_SECRET)
USER_JWT_SECRET=""